<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <h2>Sign Up for Whatsapp Clone</h2>
    <form action="/signup" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" required>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <% if (typeof error !=='undefined' ) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <p>Already have an account? <a href="/login">Login</a></p>
</body>

</html>